/* Global Elements */
/* body {
    font-family: 'Bad Script', cursive;
} */
p, li {
    font-size: 20px;
    padding: 18px 18px;
    font-family: 'Noto Sans', sans-serif;
}

title, h1 {
    font-family: 'Bad Script', cursive;
    text-align: center;
}
.title{
    font-size: 3.0rem;
}

/* ---------------------------------------------------------------------- */
#hero-address {
    padding: 50px;
    font-size: 35px;
    color: white;
}
.contact-small-div {
    text-align: center;
    font-size: 18px;
    margin: 20px;
    background: rgb(228, 228, 228);
    margin: 0 0;
    padding: 10px;
}
#llc-home {
    /* font-weight: 900; */
    font-size: 23px;
}

#hero-img {
    background: url(images/Adelaide72ppi\ -4.jpg) center / cover;
    height: 100%;
    width: 100%;  
}
#hero-font {
    margin-top: -150px;
    font-size: 70px;
    font-family: 'Bad Script', cursive; 
}

/* General Elements */

/* Navbar Section */
#our-mission {
    padding: 60px 80px 40px;
    width: 100%;
}
.our-mission {
    padding: 18px 15px;
    /* font-size: 25px; */
}

/* Three Subtopics */
#three-subtopics {
    padding: 75px 0px;
    background-color: #eaeaea;
}
/* .power-text {
    font-size: 25px;
    padding: 30px;
} */
/* Power Statements */
/* #power-statements {
    padding: 75px 0px; */
    /* background: yellow; */
.power-title {
    font-size: 2.8rem;
   
}
.power-card-title {
    padding: 25px 0 0 0;
}
.power-card {
    padding: 25px;
    /* background: orange; */
    /* margin: 15px 15px; */
}

#navbar-custom {
    background: white;
}

/* #therapists-section {
    background: rgb(208, 208, 208);
} */

#become-quote {
    font-size: 25px;
}

.label {
    font-size: 22px;
    font-family: 'Bad Script', cursive;

}
.image-blocks {
    padding: 15px 15px;
    border-radius: 19px;
    overflow: auto;
}

#forms-section {
    /* background: rgb(192, 192, 192); */
    margin: 20px 400px;
   
}

#google-map {
    display: block;
    /* margin: 15px 15px 15px 40px; */
    margin: 40px auto;
    border-radius: 4px;
}





div.hero-body {
    margin: 0 auto;
}


/* Accordion */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    /* border: none; */
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 10px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
   
  }
  /* Accordion End */

  .faq-question {
      /* background-color: rgb(242, 255, 245); */
      font-size: 20px;
      border-radius: 4px;

  }

  #faq-section {
      padding: 10px 200px;
      background: url(images/faq7.jpg);
      background-size: cover;
      height: 100%;
      width: 100%;
      
  }


.container-custom {
 
        position: relative;
        text-align: center;
        color: white;    
       
      
}

  .centered {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
  }
 
  #location-section {

      /* background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,236,233,1) 0%, rgba(98,217,169,1) 57%);
      background-size: cover; */
      background-color: #241a00;
      background-image: url("https://www.transparenttextures.com/patterns/tileable-wood-colored.png");
    

      
  }

  /* parrallax */
  .parallax {
    /* The image used */
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.8)), url("images/plush-design-studio-q10VITrVYUM-unsplash.jpg");
    /* opacity: .5; */
    

  
    /* Set a specific height */
    /* height: 500px; */
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  .new2LLCHeading {
      font-size: 28px;
      font-weight: 580;
  }

  ul, li {
    margin: 0;
    padding: 0;
    text-align: center;
    }

.card {
    border-style: solid 2px;
    border-radius: 5px;
    /* background-color: rgb(236, 236, 236); */
    background-color: white;
    padding: 30px 10px;
    margin: 10px 10px;
    box-shadow: 3px 5px #a5a4a4;
}


.navbar-link, .navbar-item {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Bad Script', cursive;
}
.main-navbar-links{
    font-weight: 600;
    font-size: 20px;
}

.threeImageText {
   font-size: 30px; 
   font-family: 'Bad Script', cursive;
   color:rgb(61, 172, 89);

}

.leave-message {
    font-size: 15px;
}

.section-heading-div {
    margin: 25px 0 75px;
    /* margin-bottom: 75px; */
    
}
.location-info {
    color: black;
    margin: 0 200px;
    background: rgb(255, 255, 255);
    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

#location-heading {
    font-size: 35px;
    font-family: 'Bad Script', cursive;
}
/* #contact-section {
    margin: 0 300px;
   
} */
#contact-section {
    width: 500px;
   
}

#form-container {
    margin: 25px 25px;

}

#message {
    margin: 25px auto;
}

.label {
    margin-top: 25px;
}
#contact-us-title {
    margin: 75px 5px 0px 5px;
    text-align: center;
}

#google-map-div {
    display: block;
    margin-left: -100px
}


/* ---------------------------------------------------------- */
/* Additional Pages */

/* Marriage and Family */
.background-small-hero {
    /* background: url(images/tileable-wood-colored.png) center / cover;
    height: 100%;
    width: 100%;   */
    background-color: #241a00;
    background-image: url("https://www.transparenttextures.com/patterns/tileable-wood-colored.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */


}
.page-title-header {
   font-size: 75px;
    color: white;
}
.section-header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
.section-image {
    width: 100%;
    padding: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 29px;
}
.section-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.bio-contact-name {
    text-align: center;
    padding: 5px;
}

.bio-contact-info {
    padding: 3px;
    text-align: center;
}
.bio {
    padding: 2px 20px;
    margin: auto 0;
}
.bio-name-and-info-div {
    padding: 5px;
}
.bio-img {
    border-radius: 4px;
    width: 100%;
}

/* @media (max-width: 1023px) {
    p {
        font-size: 25px;
    }
} */
/* Max Width 1024 */
@media (max-width: 1024px) {
    /* #contact-section {
        width: 90%;
      
    } */
    .power-title {
        font-size: 2.8rem;
        margin: 50px 15px;
       
    }
    #journey-margin {
        margin-bottom: 50px;
    }
    
    #google-map-div {
        margin: 0 auto;
    }
    .location-info {
        padding: 15px;
        margin: 0 auto;
    }
    }
    
    /* @media (max-width: 1300px) {
        .navbar-menu {
    
        }
    
    } */



/* ----------------------------------------------------------------------------------- */

@media (max-width: 768px) {
/* 812 is max for iPhone X */

#hero-img {
    background: url(images/Adelaide72ppi\ -3.jpg) center / cover;
    /* height: 100%;
    width: 100%;   */
}
.section-header {
    font-size: 35px;
    padding: 5px;
}
h1 {
    margin-top: 50px;
}
p {
    font-size: 18px;
    padding: 15px 20px;
}
#email-center {
    text-align: center;
    padding: 0;
    margin: 0 -16px;
}
.reverse-columns {
    flex-direction: column-reverse;
    display: flex;
}
#hero-font {
    margin-top: -160px;
    font-size: 40px;
    font-family: 'Bad Script', cursive;
    text-align: center;
    line-height: 1.5;
    vertical-align: text-top;
}
.hero-body {
    padding: 0 0;
    margin: 0 0;
}
#hero-address {
    font-family: 'Bad Script', cursive;
    color: white;
    text-align: center;
    display: block;
    /* position: absolute; */
    font-size: 20px;
    /* margin: 110px 0 0 0; */
    font-weight: 700;
    padding: 0 0;
}

#our-mission {
    padding: 5px 5px;
    width: 100%;
}
.our-mission {
    padding: 10px 10px;
}
#three-subtopics {
    display: block;
    padding: 15px 0px;
}

.power-title {
    font-size: 2.5rem;
    padding: 10px 10px;
   
}

.section-text {
    position: relative;
    top: 1%;
    transform: none;
}
.section-image {
    width: 100%;
    padding: 5px;
    position: relative;
    top: 0%;
    transform: none;
    border-radius: 9px;
}
#faq-section {
    padding: 10px 10px 60px 10px;
  
}
.power-card {
    padding: 3px;
}
.section-header {
    margin-top: 45px;
    margin-bottom: 5px;
}
#children {
        color: white;
        font-size: 35px;
        margin: 80px auto;

}
#become-quote {
    font-size: 22px;
}
.leave-message {
    font-size: 12px;
}
.card {
   
    border-radius: 5px;
    padding: 30px 30px;
    margin: 10px 30px;
}
#contact-section {
    margin: 1px 1px;
    padding: none; 
    width: 90%
}

.location-info {
   padding: 5px;
    width: 83%;
    margin: 15px auto;
    
    
}
#location-title {
   
    margin: 75px 5px 0px 5px;
}
#google-map {
    width: 95%;
    height: 350px;
    padding: 5px 5px;
    border-radius: 9px;
    margin: 0 auto;
}

#contact-section {
    width: 90%;
    margin: 5px auto;
  
}


/* Max Width 768 for Pages */
/* Children and Adolescents */
.title-backdrop {
    height: 150px;
}
.page-title-header {
    font-size: 40px;
    margin: 80px auto;
   
}
.bio-contact-info {
    text-align: center;
}
.bio-img {
    display: block;
    margin: auto;
    width: 50%;
}
}
@media (max-width: 374px) {
    #email-center {
        font-size: 15px;
    }
}


