/* body {
    padding: 15px 15px;
} */

#navbar-custom {
    background: white;
}

#hero-img {
    background: url(images/bruce-hong-YRD-AkNQasw-unsplash.jpg) center / cover;
   
}

#hero-font {
    font-size: 70px;
}

#our-team {
    background: rgb(208, 208, 208);
}

p {
    font-size: 20px;
    padding: 18px 18px;
}

.image-blocks {
    padding: 15px 15px;
}

#forms-section {
    background: rgb(192, 192, 192);
}

#google-map {
    display: block;
    margin: auto;
}